/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-image: linear-gradient(to right top, #051937, #004d82, #0088a8, #00c38e, #00f72b);
}

footer{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.calc-grid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.span-2{
    grid-column: span 2;
}

.display{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1.5rem;
}

.display .prev {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.75);
}

.display .current {
    font-size: 2rem;
}

.calc-grid > button {
    background-color: rgba(190, 208, 243, 0.75);
    border: black solid 2px;
    outline: none;
}

.calc-grid > button:hover {
    background-color: rgba(190, 208, 243, 0.9);;
}

.calc-grid > .operator, .calc-grid > .equal{
    background-color: rgba(0, 195, 142, 0.75);
}

.calc-grid > .operator:hover, .calc-grid > .equal:hover{
    background-color: rgba(0, 195, 142, 0.9);
}

.calc-grid > .clear{
    background-color: rgba(255, 0, 0, 0.75);
}

.calc-grid > .clear:hover{
    background-color: rgba(255, 0, 0, 0.9);
}

.calc-grid > .delete{
    background-color: rgba(0, 95, 159, 1);
}

.calc-grid > .delete:hover{
    background-color: rgba(0, 121, 201, 0.9);
}